
    .api-form1 .form_control_vik_group {
      margin: 0 0 15px 0 !important
    }

    .form_control_vik_group input.form_control_vik.name,
    .form_control_vik_group input.form_control_vik.phone {
      margin: 0 !important;
      text-align: left !important
    }

    input.form_control_vik:focus::placeholder {
      color: transparent
    }

    input.form_control_vik.error {
      border-color: #c92f54 !important;
      color: #c92f54 !important
    }

    input.form_control_vik.good {
      border-color: #388e3c !important;
      color: #388e3c !important
    }

    .api-form1 .error_note {
      text-align: center;
      margin: 4px 0 0 0 !important;
      font-size: 13px;
      line-height: 16px;
      color: #c92f54
    }

    input.form_control_vik.error:focus {
      border-color: #c92f54 !important
    }

    input.form_control_vik.good:focus {
      border-color: #0d7f56 !important
    }
  
  
    img {
      max-width: 100%;
      height: auto
    }

    .cr {
      color: red
    }

    .text--center {
      text-align: center
    }

    .mt {
      margin-top: 1rem
    }

    .udl {
      text-decoration: underline
    }

    .bordered {
      border-top: 2px solid #000;
      border-bottom: 2px solid #000
    }

    @media (min-width:768px) {
      .mt {
        margin-top: 1.5rem
      }
    }

    .art-img {
      max-width: 550px;
      width: 100%;
      display: block;
      margin: 0 auto 1em auto
    }

    .b-article__main .art-img__text {
      text-align: center;
      max-width: 550px;
      width: 100%;
      margin: -.3em auto 1em auto !important
    }

    .red-btn {
      color: #fff;
      background-color: red;
      padding: 16px;
      box-sizing: border-box;
      display: block;
      margin: 0 auto;
      text-align: center;
      font-weight: 700;
      text-decoration: none;
      max-width: 300px;
      width: 100%
    }

    .red {
      color: red
    }

    .center {
      text-align: center
    }

    .block {
      padding: 16px;
      box-sizing: border-box;
      margin-bottom: 1em
    }

    .block.--yellow {
      background-color: #ffe4b5
    }

    .block.--red {
      background-color: #fccfd7
    }

    .block.--grey {
      background-color: #dcdcdc
    }

    .block.--green {
      background-color: #cdffcd
    }

    .block p:last-child {
      margin-bottom: 0 !important
    }

    .my-list:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important
    }

    .my-list li {
      font-size: 20px !important;
      list-style: disc
    }
  
  
    @media only screen and (max-width:500px) {
      .vik-winners-bl .lb_top {
        padding: 10px 10px 10px 30px
      }

      .vik-winners-bl .lb_top:before {
        top: 5px;
        left: 5px;
        width: 20px;
        height: 25px;
        background-size: 100%
      }

      .vik-winners-bl .lbt_text_1 {
        font-size: 18px;
        line-height: 20px
      }

      .vik-winners-bl .lbt_text_2 {
        margin-top: 5px
      }

      .vik-winners-bl .lb_text {
        font-size: 26px;
        line-height: 27px;
        margin-top: 20px
      }

      .vik-winners-bl .lb_text>span {
        font-size: 40px;
        line-height: 41px
      }
    }

    .vik-winners-bl .left_block {
      display: block;
      max-width: 100%;
      width: auto;
      margin: 0 auto;
      padding: 50px;
      background: #f9f9f9;
      font-family: sans-serif
    }

    .vik-winners-bl .lb_top,
    .vik-winners-bl .wins {
      background: #fff
    }

    .vik-winners-bl .lb_top {
      border: 1px solid #b5b5b5;
      border-radius: 15px;
      padding: 20px;
      position: relative
    }

    .vik-winners-bl .lb_top:before {
      display: block;
      content: '';
      width: 40px;
      height: 50px;
      position: absolute;
      top: 25px;
      left: 25px
    }

    .vik-winners-bl .lbt_text_1 {
      font-size: 20px;
      line-height: 30px;
      color: #272727;
      text-align: center
    }

    .vik-winners-bl .lbt_text_2 {
      font-size: 13px;
      line-height: 15px;
      color: #626262;
      margin-top: 10px;
      text-align: center
    }

    .vik-winners-bl .lb_text {
      text-transform: uppercase;
      font-size: 40px;
      line-height: 44px;
      text-transform: uppercase;
      margin: 50px 0 15px;
      text-align: center
    }

    .vik-winners-bl .lb_text>span {
      display: inline-block;
      font-size: 30px;
      line-height: 76px
    }

    .vik-winners-bl .wins {
      border: 1px solid #d8d8d8;
      border-radius: 15px
    }

    .vik-winners-bl .win_line {
      display: table;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #d8d8d8
    }

    .vik-winners-bl .win_line>div {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      padding: 0 5px 0 15px;
      font-size: 17px;
      line-height: 19px
    }

    .vik-winners-bl .win_line:first-child {
      background: linear-gradient(89.47deg, #ed7b22 0, #f59a14 100%)
    }

    .vik-winners-bl .win_line:last-child {
      border-bottom: none
    }

    @media only screen and (max-width:1100px) {
      .vik-winners-bl .left_block {
        display: block
      }
    }

    @media only screen and (max-width:1000px) {
      .vik-winners-bl .left_block {
        padding: 30px 10px;
        max-width: 435px
      }
    }

    @media only screen and (max-width:880px) {
      .vik-winners-bl .left_block {
        max-width: 100%;
        float: none
      }

      .vik-winners-bl .lb_text {
        text-align: center
      }
    }

    @media (max-width:720px) {
      .vik-winners-bl .win_line:first-child {
        display: none
      }

      .vik-winners-bl .win_line {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center
      }

      .vik-winners-bl .win_line>div {
        width: 100% !important
      }
    }

    @media only screen and (max-width:500px) {
      .vik-winners-bl .lb_top {
        padding: 10px 10px 10px 30px !important
      }

      .vik-winners-bl .lb_top:before {
        top: 5px;
        left: 5px;
        width: 20px;
        height: 25px;
        background-size: 100%
      }

      .vik-winners-bl .lbt_text_1 {
        font-size: 18px;
        line-height: 20px
      }

      .vik-winners-bl .lbt_text_2 {
        margin-top: 5px
      }

      .vik-winners-bl .lb_text {
        font-size: 26px;
        line-height: 27px;
        margin-top: 20px
      }

      .vik-winners-bl .lb_text>span {
        font-size: 40px;
        line-height: 41px
      }
    }

    @media only screen and (max-width:450px) {
      .vik-winners-bl .win_line>div {
        padding: 0 5px 0 10px;
        font-size: 15px;
        line-height: 19px
      }
    }

    @media (max-width:460px) {
      .vik-winners-bl .left_block {
        padding: 0 !important
      }

      .vik-winners-bl .win_line>div {
        font-size: 14px !important
      }

      .vik-winners-bl .lb_text>span {
        font-size: 20px
      }

      .vik-winners-bl .lb_top {
        padding: 10px
      }
    }
  
  
    #fountainG {
      position: relative;
      width: 96px;
      height: 12px;
      margin: 10px
    }

    .fountainG {
      position: absolute;
      top: 0;
      background-color: #000;
      width: 5px;
      height: 5px;
      animation-name: bounce_fountainG;
      -o-animation-name: bounce_fountainG;
      -ms-animation-name: bounce_fountainG;
      -webkit-animation-name: bounce_fountainG;
      -moz-animation-name: bounce_fountainG;
      animation-duration: 1.5s;
      -o-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-direction: normal;
      -o-animation-direction: normal;
      -ms-animation-direction: normal;
      -webkit-animation-direction: normal;
      -moz-animation-direction: normal;
      transform: scale(.3);
      -o-transform: scale(.3);
      -ms-transform: scale(.3);
      -webkit-transform: scale(.3);
      -moz-transform: scale(.3);
      border-radius: 8px;
      -o-border-radius: 8px;
      -ms-border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px
    }

    #fountainG_1 {
      left: 0;
      animation-delay: .6s;
      -o-animation-delay: .6s;
      -ms-animation-delay: .6s;
      -webkit-animation-delay: .6s;
      -moz-animation-delay: .6s
    }

    #fountainG_2 {
      left: 12px;
      animation-delay: .75s;
      -o-animation-delay: .75s;
      -ms-animation-delay: .75s;
      -webkit-animation-delay: .75s;
      -moz-animation-delay: .75s
    }

    #fountainG_3 {
      left: 24px;
      animation-delay: .9s;
      -o-animation-delay: .9s;
      -ms-animation-delay: .9s;
      -webkit-animation-delay: .9s;
      -moz-animation-delay: .9s
    }

    #fountainG_4 {
      left: 36px;
      animation-delay: 1.05s;
      -o-animation-delay: 1.05s;
      -ms-animation-delay: 1.05s;
      -webkit-animation-delay: 1.05s;
      -moz-animation-delay: 1.05s
    }

    #fountainG_5 {
      left: 48px;
      animation-delay: 1.2s;
      -o-animation-delay: 1.2s;
      -ms-animation-delay: 1.2s;
      -webkit-animation-delay: 1.2s;
      -moz-animation-delay: 1.2s
    }

    #fountainG_6 {
      left: 60px;
      animation-delay: 1.35s;
      -o-animation-delay: 1.35s;
      -ms-animation-delay: 1.35s;
      -webkit-animation-delay: 1.35s;
      -moz-animation-delay: 1.35s
    }

    #fountainG_7 {
      left: 72px;
      animation-delay: 1.5s;
      -o-animation-delay: 1.5s;
      -ms-animation-delay: 1.5s;
      -webkit-animation-delay: 1.5s;
      -moz-animation-delay: 1.5s
    }

    #fountainG_8 {
      left: 84px;
      animation-delay: 1.64s;
      -o-animation-delay: 1.64s;
      -ms-animation-delay: 1.64s;
      -webkit-animation-delay: 1.64s;
      -moz-animation-delay: 1.64s
    }

    @keyframes bounce_fountainG {
      0% {
        transform: scale(1);
        background-color: rgb(0, 0, 0);
      }

      100% {
        transform: scale(.3);
        background-color: rgb(255, 255, 255);
      }
    }

    @-o-keyframes bounce_fountainG {
      0% {
        -o-transform: scale(1);
        background-color: rgb(0, 0, 0);
      }

      100% {
        -o-transform: scale(.3);
        background-color: rgb(255, 255, 255);
      }
    }

    @-ms-keyframes bounce_fountainG {
      0% {
        -ms-transform: scale(1);
        background-color: rgb(0, 0, 0);
      }

      100% {
        -ms-transform: scale(.3);
        background-color: rgb(255, 255, 255);
      }
    }

    @-webkit-keyframes bounce_fountainG {
      0% {
        -webkit-transform: scale(1);
        background-color: rgb(0, 0, 0);
      }

      100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255, 255, 255);
      }
    }

    @-moz-keyframes bounce_fountainG {
      0% {
        -moz-transform: scale(1);
        background-color: rgb(0, 0, 0);
      }

      100% {
        -moz-transform: scale(.3);
        background-color: rgb(255, 255, 255);
      }
    }

    .load__comment {
      display: flex
    }
  
  
    #push-comments #push_3dv4f7 {
      background-color: #f0f0f0;
      box-sizing: border-box;
      font-family: sans-serif;
      padding: 3rem 2rem;
      transition: 1s;
      width: 100%
    }

    #push-comments #push_3dv4f7.hide {
      opacity: 0;
      display: block !important
    }

    #push-comments #push_3dv4f7__form {
      box-sizing: border-box;
      margin: auto;
      max-width: 600px
    }

    #push-comments #push_3dv4f7__title {
      color: #43a047;
      border-bottom: 0 solid;
      box-shadow: 1px 4px 10px -7px #ccc;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 16px
    }

    #push-comments #push_3dv4f7__message,
    .comment-input {
      border: 1px solid #43a047;
      box-shadow: 0 2px 4px -3px #237a27;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px 20px;
      height: 120px;
      width: 100%
    }

    #push-comments #push_3dv4f7__submit {
      background: #43a047;
      border: none;
      box-shadow: 0 2px 4px -3px #000;
      color: #fff;
      cursor: pointer;
      border-radius: 25px;
      display: table;
      margin: 20px 0 0;
      height: 50px;
      transition: .5s;
      text-align: center;
      text-shadow: 0 0 1px #237a27;
      font-size: 18px;
      max-width: 280px;
      width: 100%
    }

    #push-comments #push_3dv4f7__submit:hover {
      background: #237a27;
      text-shadow: none;
      box-shadow: none
    }

    #push-comments #push_3dv4f7__label::before,
    #push-comments #push_3dv4f7__label::after {
      content: '';
      display: none
    }
  
  
    #push-comments #push_mlyjekpdfdd1 {
      background-color: #f0f0f0;
      box-sizing: border-box;
      font-family: sans-serif;
      padding: 3rem 2rem;
      transition: 1s;
      width: 100%
    }

    #push-comments #push_mlyjekpdfdd1.hide {
      opacity: 0;
      display: block !important
    }

    #push-comments #push_mlyjekpdfdd1__form {
      box-sizing: border-box;
      margin: auto;
      max-width: 600px
    }

    #push-comments #push_mlyjekpdfdd1__title {
      color: #43a047;
      border-bottom: 0 solid;
      box-shadow: 1px 4px 10px -7px #ccc;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 16px
    }

    #push-comments #push_mlyjekpdfdd1__message {
      border: 1px solid #43a047;
      box-shadow: 0 2px 4px -3px #237a27;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px 20px;
      height: 120px;
      width: 100%
    }

    #push-comments #push_mlyjekpdfdd1__submit {
      background: #43a047;
      border: none;
      box-shadow: 0 2px 4px -3px #000;
      color: #fff;
      cursor: pointer;
      border-radius: 25px;
      display: table;
      margin: 20px 0 0;
      height: 50px;
      transition: .5s;
      text-align: center;
      text-shadow: 0 0 1px #237a27;
      font-size: 18px;
      max-width: 280px;
      width: 100%
    }

    #push-comments #push_mlyjekpdfdd1__submit:hover {
      background: #237a27;
      text-shadow: none;
      box-shadow: none
    }

    #push-comments #push_mlyjekpdfdd1__label::before,
    #push-comments #push_mlyjekpdfdd1__label::after {
      content: '';
      display: none
    }
  