@keyframes pop-up-appear {
  0% {
    transform: translateY(-2000px)
  }

  30% {
    transform: translateY(100px)
  }

  100% {
    transform: translateY(0px)
  }
}

@keyframes pop-up-appear-before {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes pop-up-appear-after {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.image-wrap {
  text-align: center
}

img.image {
  max-width: 600px;
  width: 100%
}

.article__text p {
  font-size: 18px !important;
  padding-bottom: 10px
}

figure {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px
}

ol.main-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0
}

.article__text ul {
  padding-bottom: 0
}

ol.results-list {
  padding-bottom: 0
}

.article__text ol {
  padding-bottom: 0
}

.article__text h2 {
  padding-bottom: 10px
}

ol.results-list>li>p:first-child {
  font-weight: 700
}

.article__text img.product-image {
  max-width: 450px;
  width: 100%
}

.attention span {
  font-weight: 700;
  color: red
}

.article__text h3.door__head {
  padding-bottom: 0
}

.vk-header-text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #0095da;
  color: #fff
}

.vk-comment,
.vk-comment-load {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #dae1e8;
  padding-bottom: 15px
}

.vk-avatar img {
  float: left;
  margin-right: 10px;
  border-radius: 1.575em
}

.article__text div.vk-comment-name {
  color: #a40000;
  font-weight: 700;
  font-size: 14px;
  margin-left: 59px;
  margin-bottom: 10px
}

.article__text div.vk-comment-text {
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px
}

.article__text div.vk-comment-date {
  margin-left: 70px;
  color: #999;
  margin-bottom: 10px
}

.btn-main {
  display: inline-block;
  margin: 30px 0;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline
}

.article__text div.text-center {
  text-align: center
}

#order {
  display: none;
  max-width: 430px;
  width: 100%;
  margin: auto;
  text-align: center;
  background: #fff;
  border-radius: 0;
  padding-top: 20px
}

.article__text div.order_offer {
  margin-bottom: 0
}

.order_form {
  width: 100%;
  max-width: 500px
}

.order_header {
  text-align: center
}

.article__text div.order_pre_form {
  margin-bottom: 0
}

.order_timer_block {
  line-height: 1;
  font-weight: 700
}

.article__text p.form-text {
  text-align: center !important
}

.article__text div.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: 700;
  margin-bottom: 0
}

.prices {
  display: flex;
  justify-content: center
}

.prices__new {
  font-weight: 700;
  color: red;
  margin: 10px
}

.article__text div.order_form_row {
  margin-bottom: 10px
}

.order_form .order_form_row label {
  font-size: 13px;
  font-weight: 700
}

.order_form .order_form_row input {
  max-width: 269px;
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
  border: 2px solid #eaeaea;
  font-size: 15px
}

.select-country {
  max-width: 280px;
  width: 100%;
  height: 42px;
  border-radius: 3px;
  box-shadow: none;
  border: 2px solid #eaeaea
}

.article__text div.order_timer_block {
  margin-bottom: 0
}

.order_form .order_form_button {
  box-shadow: 0 1px 0 0 #f5978e inset;
  background: #f24537;
  border-radius: 3px;
  border: 1px solid #d02718;
  width: 60%;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
  text-decoration: none;
  letter-spacing: .6px;
  text-shadow: 0 1px 0 #810e05
}

.article__text p.form-subtext {
  font-size: 14px !important;
  text-align: center !important
}

.order_pre_form {
  padding-left: 10px;
  padding-right: 10px
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: 700
}

.footer__info p {
  font-size: 15px !important
}

.price-block {
  margin-top: 30px;
  margin-bottom: 30px
}

.price-block__old {
  text-decoration: line-through
}

.price-block__new {
  margin-top: 10px;
  font-size: 20px;
  color: red;
  font-weight: 700;
  text-transform: uppercase
}

#order_form {
  display: flex;
  flex-direction: column;
  align-items: center
}

.country-select {
  width: 228px;
  border: 1px solid lightgrey;
  padding-left: 5px;
  height: 42px;
  margin-bottom: 10px;
  margin: 10px auto
}

#order_form input {
  display: flex
}

.input-roulette {
  width: 228px;
  padding-left: 5px;
  margin: 10px auto;
  height: 42px;
  border: 1px solid lightgrey;
  box-sizing: border-box
}

.article__text .order_block img.product-image {
  max-width: 300px;
  width: 100%
}

#order_form button {
  display: inline-block;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 4px 15px 0 rgb(129 150 160/45%);
  border-radius: 5px;
  background-color: #0299ff;
  background-position: 1.35em .94em;
  background-size: 1em;
  background-repeat: no-repeat;
  transition: all .15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .6);
  text-align: center
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0;
  left: 0;
  top: 40%;
  margin: 0 auto;
  background: #fff none repeat scroll 0% 0%;
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: .7s ease 0s normal none 1 running pop-up-appear
}

.close-popup {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../fonts/cross.svg);
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: 0;
  cursor: pointer
}

.pop-up-window::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  top: -55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #71c341;
  border-radius: 50%;
  animation: .5s ease .6s normal backwards 1 running pop-up-appear-before
}

.pop-up-window::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor #fff #fff;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: .5s ease .6s normal backwards 1 running pop-up-appear-after
}

.pop-up-button {
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 10px 20%;
  font-size: 20px;
  border-radius: 5px;
  background-color: #71c341;
  color: #fff !important;
  border: medium;
  cursor: pointer;
  outline: medium
}

.ruletka-p {
  text-indent: 0;
  color: #000;
  text-align: center !important;
  margin: 15px;
  margin-bottom: 20px;
  line-height: 25px;
  font-weight: 700
}

.danger-text {
  color: red;
  font-weight: 700
}

:root {
  --swiper-theme-color: #007aff
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
  flex-direction: column
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
  flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column
}

.swiper-container-free-mode>.swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform
}

.swiper-slide-invisible-blank {
  visibility: hidden
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height
}

.swiper-container-3d {
  perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-css-mode>.swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
  display: none
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
  scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
  scroll-snap-type: y mandatory
}

:root {
  --swiper-navigation-size: 44px
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size)/2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color))
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: sans-serif;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: 'prev'
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: 'next'
}

.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
  --swiper-navigation-color: #ffffff
}

.swiper-button-next.swiper-button-black,
.swiper-button-prev.swiper-button-black {
  --swiper-navigation-color: #000000
}

.swiper-button-lock {
  display: none
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(.33);
  position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(.33)
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color))
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: .2s transform, .2s top
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform, .2s left
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform, .2s right
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, .25);
  position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical>.swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0
}

.swiper-pagination-white {
  --swiper-pagination-color: #ffffff
}

.swiper-pagination-black {
  --swiper-pagination-color: #000000
}

.swiper-pagination-lock {
  display: none
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  left: 0;
  top: 0
}

.swiper-scrollbar-cursor-drag {
  cursor: move
}

.swiper-scrollbar-lock {
  display: none
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain
}

.swiper-slide-zoomed {
  cursor: move
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg)
  }
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-cube {
  overflow: visible
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0
}

.swiper-container-flip {
  overflow: visible
}

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.qs-datepicker-container {
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid grey;
  border-radius: .263921875em;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 1.25em 1.25em -.9375em rgba(0, 0, 0, .3);
  box-shadow: 0 1.25em 1.25em -.9375em rgba(0, 0, 0, .3)
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.qs-hidden {
  display: none
}

.qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: .5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1
}

.qs-overlay .qs-overlay-year {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: .875em;
  padding: .25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block
}

.qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none
}

.qs-overlay .qs-close {
  padding: .5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0
}

.qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: .263921875em;
  padding: .5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0, 0%, 50.2%, .4)
}

.qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed
}

.qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100%/3);
  cursor: pointer;
  opacity: .5;
  -webkit-transition: opacity .15s;
  transition: opacity .15s
}

.qs-overlay .qs-overlay-month.active,
.qs-overlay .qs-overlay-month:hover {
  opacity: 1
}

.qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #d3d3d3;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
  transition: filter .3s, -webkit-filter .3s
}

.qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px)
}

.qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: .263921875em;
  -webkit-transition: background .15s;
  transition: background .15s
}

.qs-arrow:hover {
  background: rgba(0, 0, 0, .1)
}

.qs-arrow:hover.qs-left:after {
  border-right-color: #000
}

.qs-arrow:hover.qs-right:after {
  border-left-color: #000
}

.qs-arrow:after {
  content: "";
  border: .390625em solid transparent;
  position: absolute;
  top: 50%;
  -webkit-transition: border .2s;
  transition: border .2s
}

.qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%)
}

.qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%)
}

.qs-month-year {
  font-weight: 700;
  -webkit-transition: border .2s;
  transition: border .2s;
  border-bottom: 1px solid transparent;
  cursor: pointer
}

.qs-month-year:hover {
  border-bottom: 1px solid grey
}

.qs-month-year:active:focus,
.qs-month-year:focus {
  outline: none
}

.qs-month {
  padding-right: .5ex
}

.qs-year {
  padding-left: .5ex
}

.qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
  transition: filter .3s, -webkit-filter .3s
}

.qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px)
}

.qs-square {
  width: calc(100%/7);
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background .1s;
  transition: background .1s;
  border-radius: .263921875em
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange
}

.qs-current {
  font-weight: 700;
  text-decoration: underline
}

.qs-active,
.qs-range-end,
.qs-range-start {
  background: #add8e6
}

.qs-range-start:not(.qs-range-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.qs-range-middle {
  background: #d4ebf2
}

.qs-range-middle:not(.qs-range-0):not(.qs-range-6) {
  border-radius: 0
}

.qs-range-middle.qs-range-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.qs-range-end:not(.qs-range-0),
.qs-range-middle.qs-range-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.qs-disabled,
.qs-outside-current-month {
  opacity: .2
}

.qs-disabled {
  cursor: not-allowed
}

.qs-day,
.qs-empty {
  cursor: default
}

.qs-day {
  font-weight: 700;
  color: grey
}

.qs-event {
  position: relative
}

.qs-event:after {
  content: "";
  position: absolute;
  width: .46875em;
  height: .46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0
}

.UZznxc {
  width: 100%;
  height: inherit;
  min-height: inherit;
  max-height: inherit
}

#5a0e3531bd {
  width: 1px;
  height: 1px;
  position: relative
}

#id5795 {
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute
}

a.logo-nenastie {
  position: relative;
  display: inline-block;
  height: 54px;
  width: 150px;
  font: normal 0px/54px sans-serif;
  color: #fff;
  text-decoration: none;
  background: url(../fonts/Nenastie.svg) left center no-repeat;
  background-size: auto;
  background-size: contain;
  margin: 0
}

.logo-specproekt,
.navigation-top__specproekt {
  display: none !important
}